* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    line-height: 1.6;
  }

  header {
    background-color: black; /* Transparent header */
    padding: 20px 0;
    z-index: 1; /* Keeps the header above the hero section */
    position: absolute; /* Absolute positioning */
    top: 0;
    width: 100%; /* Ensure header takes full width */
    font-family: "Oleo Script", system-ui;
    color: #00000014; /* Main text color (Red) */
    text-shadow: 2px 2px 0 #ffffff;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  nav ul li {
    margin-left: 100px;
  }

  nav ul li a {
    color: black;
      -webkit-text-stroke: 2px linear-gradient(90deg, #ff0000, #000000);
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
  }

  nav ul li a:hover {
    background-color: #28a745; /* Background color on hover */
    color: #000000; /* Text color on hover */
    border-radius: 5px;
  }
  section {
    padding: 150px 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }